<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiwei.dao.PermissionMapper">



  <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from permission
    where userId = #{userId,jdbcType=INTEGER}
  </delete>


  <insert id="insert">
    insert into permission (id,modelId,userId)  value
     <foreach collection="list"  item="item" index= "index" separator =",">
       (#{item.id},#{item.modelId},#{item.userId})
     </foreach>

  </insert>




</mapper>